@import "tailwindcss";

@source "../../node_modules/cloudflare-next-intl/";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-big-desk: 78rem;
  --breakpoint-tablet: 48rem;
  --breakpoint-small-mobile: 30rem;

  --animate-loading: loading-animation 1.5s ease-in-out infinite;

  @keyframes loading-animation {
    0% {
      transform: rotate(360deg);
      border-top: 0.56rem dashed theme("colors.green.300");
      border-bottom: 0.56rem dashed theme("colors.red.700");
    }

    25% {
      border-top: 0.56rem dashed theme("colors.sky.400");
      border-bottom: 0.56rem dashed theme("colors.sky.700");
    }

    50% {
      border-top: 0.56rem dashed theme("colors.cyan.300");
      border-bottom: 0.56rem dashed theme("colors.cyan.700");
    }

    75% {
      border-top: 0.56rem dashed theme("colors.pink.300");
      border-bottom: 0.56rem dashed theme("colors.pink.700");
    }

    100% {
      border-top: 0.56rem dashed theme("colors.yellow.300");
      border-bottom: 0.56rem dashed theme("colors.yellow.700");
    }
  }
}

@layer base {
  body {
    transition: background-color 0.5s ease, color 0.5s ease;
    will-change: background-color, color;
  }

  /* Button Theme (General) */
  button {
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  /* Main container styles */
  main a {
    text-decoration: none;
  }

  main {
    max-width: 90rem;
    width: 100%;
    align-self: center;
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.8);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(85, 85, 85, 0.9);
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(136, 136, 136, 0.8) transparent;
  }
}
