@import "tailwindcss";

@source "../../node_modules/optimized-next-intl/";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-big-desk: 78rem;
  --breakpoint-tablet: 48rem;
  --breakpoint-small-mobile: 30rem;

  
  --animate-loading: loading-animation 1.5s ease-in-out infinite;

  @keyframes loading-animation {
    0% {
      transform: rotate(360deg);
      border-top: 0.56rem dashed var(--color-green-300);
      border-bottom: 0.56rem dashed var(--color-red-700);
    }

    25% {
      border-top: 0.56rem dashed var(--color-sky-400);
      border-bottom: 0.56rem dashed var(--color-sky-700);
    }

    50% {
      border-top: 0.56rem dashed var(--color-cyan-300);
      border-bottom: 0.56rem dashed var(--color-cyan-700);
    }

    75% {
      border-top: 0.56rem dashed var(--color-pink-300);
      border-bottom: 0.56rem dashed var(--color-pink-700);
    }

    100% {
      border-top: 0.56rem dashed var(--color-yellow-300);
      border-bottom: 0.56rem dashed var(--color-yellow-700);
    }
  }
}

@layer base {
  body{
    color:black;
  }

  .dark body{
    color:white;
  }

  /* Button Theme (General) */
  button {
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  /* Main container styles */
  main a {
    text-decoration: none;
    color: var(--color-secondary);
  }

  main{
    max-width: 90rem;
    width: 100%;
    align-self: center;
  }

  .dialog-scrollbar::-webkit-scrollbar {
    width: 8px; 
  }

  .dialog-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
  }

  .dialog-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.8); 
    border-radius: 10px;
    border: 2px solid transparent; 
    background-clip: padding-box; 
  }

  .dialog-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(85, 85, 85, 0.9);
  }

  .dialog-scrollbar {
    scrollbar-width: thin; 
    scrollbar-color: rgba(136, 136, 136, 0.8) transparent; 
  }
}